In [1]:
import pandas as pd
import numpy as np

In [ ]:
#loading dataset

In [2]:
df=pd.read_csv('C:\student-data.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [3]:
df.shape

(395, 31)

In [4]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
390,MS,M,20,U,LE3,A,2,2,services,services,...,no,no,5,5,4,4,5,4,11,no
391,MS,M,17,U,LE3,T,3,1,services,services,...,yes,no,2,4,5,3,4,2,3,yes
392,MS,M,21,R,GT3,T,1,1,other,other,...,no,no,5,5,3,3,3,3,3,no
393,MS,M,18,R,LE3,T,3,2,services,other,...,yes,no,4,4,1,3,4,5,0,yes
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,yes,no,3,2,3,3,3,5,5,no

In [ ]:
#finding missing values

In [5]:
df.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
passed        0
dtype: int64

In [ ]:
#preprocessing data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  passed      395 non-null    object
dtypes: int64(13), object(18)
memory usage: 95.8+ KB

In [8]:
x = df.drop(['age','address','famsize','Pstatus','Medu','Fedu','reason','guardian','famsup','paid','nursery','higher','internet',
              'romantic','famrel','schoolsup','passed'],axis=1)
y = pd.DataFrame(df['passed'])

In [9]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'passed'],
      dtype='object')

In [10]:
x['school'].value_counts()

GP    349
MS     46
Name: school, dtype: int64

In [11]:
df['activities'].value_counts()

yes    201
no     194
Name: activities, dtype: int64

In [ ]:
#onehot encoding

In [12]:
x=pd.get_dummies(x,columns=['activities','sex','school'])

In [13]:
y=pd.get_dummies(y,columns=['passed'])

In [14]:
x.head()

,Mjob,Fjob,traveltime,studytime,failures,freetime,goout,Dalc,Walc,health,absences,activities_no,activities_yes,sex_F,sex_M,school_GP,school_MS
0,at_home,teacher,2,2,0,3,4,1,1,3,6,1,0,1,0,1,0
1,at_home,other,1,2,0,3,3,1,1,3,4,1,0,1,0,1,0
2,at_home,other,1,2,3,3,2,2,3,3,10,1,0,1,0,1,0
3,health,services,1,3,0,2,2,1,1,5,2,0,1,1,0,1,0
4,other,other,1,2,0,3,2,1,2,5,4,1,0,1,0,1,0

In [15]:
x.shape

(395, 17)

In [16]:
x.columns

Index(['Mjob', 'Fjob', 'traveltime', 'studytime', 'failures', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'activities_no',
       'activities_yes', 'sex_F', 'sex_M', 'school_GP', 'school_MS'],
      dtype='object')

In [ ]:
#feature engineering

In [17]:
x['pjob']=x['Mjob']+['Fjob']
x['freetimes']=x['freetime']+x['goout']

In [18]:
x=x.drop(['Mjob','Fjob','freetime','goout'],axis=1)

In [19]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   traveltime      395 non-null    int64
 1   studytime       395 non-null    int64
 2   failures        395 non-null    int64
 3   Dalc            395 non-null    int64
 4   Walc            395 non-null    int64
 5   health          395 non-null    int64
 6   absences        395 non-null    int64
 7   activities_no   395 non-null    uint8
 8   activities_yes  395 non-null    uint8
 9   sex_F           395 non-null    uint8
 10  sex_M           395 non-null    uint8
 11  school_GP       395 non-null    uint8
 12  school_MS       395 non-null    uint8
 13  pjob            395 non-null    object
 14  freetimes       395 non-null    int64
dtypes: int64(8), object(1), uint8(6)
memory usage: 30.2+ KB

In [22]:
x=x.drop(['pjob'],axis=1)

In [ ]:
#splitting the data

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [ ]:
#building the model

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)

y_pred = rf.predict(x_test)

In [31]:
from sklearn.metrics import f1_score,confusion_matrix
print('f1_score:',f1_score(y_test,y_pred,average='weighted'))
print('confusion_matrix:',confusion_matrix(y_test.values.argmax(axis=1),y_pred.argmax(axis=1)))

f1_score: 0.5937942240979849
confusion_matrix: [[10 36]
 [ 6 67]]

the f_score is 59%

In [ ]:
#feature importance

In [33]:
pd.Series(rf.feature_importances_,index=x.columns).sort_values(ascending = False)*100

freetimes         18.195459
absences          17.697074
failures          12.008465
health            10.677230
Walc               8.621522
studytime          7.271222
traveltime         6.017974
Dalc               5.929633
activities_no      2.768074
activities_yes     2.595413
sex_M              2.433413
sex_F              2.363328
school_MS          1.797838
school_GP          1.623355
dtype: float64

In [34]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [35]:
rft= RandomForestClassifier(n_estimators=500,max_depth=10,random_state=42,criterion="entropy")
rft.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=500,
                       random_state=42)

In [39]:
y_pred=rft.predict(x_test)
f1_score(y_test,y_pred,average='weighted')

0.5908674614623806

The possibility of a student to pass is 59% according to this model